Repository griptape-ai/griptape, pull requests merged in 2025-05, with the labels that each got.

#1934 fix: properly serialize GrokPromptDriver and CoherePromptDriver
  griptape/drivers/prompt/cohere_prompt_driver.py
  griptape/tokenizers/base_tokenizer.py
  griptape/tokenizers/grok_tokenizer.py
  tests/unit/drivers/prompt/test_cohere_prompt_driver.py
  tests/unit/drivers/prompt/test_grok_prompt_driver.py
  uv.lock
Labels: bug

#1937 ci: clean up stable release pipeline
  .github/workflows/create-stable-release.yml
Labels: github_actions

#1940 Always upsert vectors in BaseVectorStoreDriver
  griptape/drivers/vector/base_vector_store_driver.py
Labels: bug

#1947 fix: add missing `ignored_exception_types` to `OpenAiImageGenerationDriver`
  griptape/drivers/image_generation/openai_image_generation_driver.py
Labels: drivers, bug
